.details-divider {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 50%;
    margin-left: 2rem;
}
.details-divider-features {
    width: 90%;
}
.details-container {
    margin-top: 15vh;
    max-width: 100%;
}

.details-categories {
    margin-top: 1rem;
}

/* Ad Details above and below ad title */

.details-categories-text, .details-adby-name,
.details-adby-id, .details-adby-address, .details-adby-views {
    font-size: 12px;
    margin-left: 1rem;
}

.details-title-adby {
    margin-left: 9rem;
}

/* Ad Title */

.details-ad-title {
    margin-top: 0rem;
    margin-left: 1rem;
}

.details-adby {
    margin-bottom: 2rem;
}

/* For Images React Slick */

.details-slider {
    width: 100%;
    overflow-x: hidden;
    /* height: 50vh; */
}
.details-slider-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

/* Photos Save share */

.details-photo-save-share {
    width: 20rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    left: 5rem;
    top: -2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 12px 0px;
    border: 1px solid rgba(0,0,0,0.1);
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}
.details-photos {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}
.details-share {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-right: 1rem;
}
@media only screen and (max-width: 415px) {
    .details-photo-save-share {
        left: 1rem;
    }
}
@media only screen and (max-width: 332px) {
    .details-photo-save-share {
        width: 16rem;
    }
}


.details-photos, .details-save, .details-share {
    display: flex;
    flex-flow: row wrap;
    width: 41%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(0,0,0,0.4); */
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}



.details-photos:hover, .details-save:hover, .details-share:hover {
    color: white;
    background-color: var(--secondary-color);
}

.details-save, .details-share {
    width: 29%;
}

.details-images-length {
    font-size: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.details-photo-icon {
    color: #f4f4f4;
    stroke: rgba(0,0,0,0.8);
    stroke-width: 2rem;
}

.details-icon-save-toggle {
    color: rgb(255,255,10);
    stroke: rgba(255,255,255,1);
    stroke-width: 5px;
}

/* Buyers Guide */

.details-buyers-guide {
    margin-left: 2rem;
}

.details-buyers-guide-icons {
    display: flex;
    flex-flow: row wrap;
    width: 20rem;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.details-buyers-icon {
    color: #5cb85c;
    stroke: #5cb85c;
    stroke-width: 1px;
    font-size: 1.3rem;    
}

.details-buyers-bed, .details-buyers-bathroom, .details-buyers-parking,
.details-buyers-area {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(0,0,0,0.1)
}

/* Details Description */

.details-description {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.details-description-text {
    width: 50%;
}

.details-readmore {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3%;
    font-size: 0.9rem;
    height: 2.5rem;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    background-color:  #5cb85c;
    color: white;
    transition: background-color 0.3s ease;
}
.details-readmore:hover {
    background-color: var(--secondary-color);
    color: white;
}

.details-more {
    display: none;
    width: 50%;
}

/* Details Property Fetures */

.details-property-features {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    width: 60%;
}

.details-features-text-icon {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    grid-auto-rows: 1fr;
    row-gap: 1rem;
}
.details-features-items {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.features-icons {

}

.features-icon-image {
    width: 3rem;
    height: 3rem;
}

/* Details Location */

.details-location {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 50%;
}

.details-map-class {
    height: 40vh;
    width: 100%;
}

/* Details Inspection */

.details-inspection {
    margin-left: 2rem;
    margin-top: 3rem;
    width: 50%;
}

.inspection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 1rem;
    height: auto;
}

.inspection-contact {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 12px 0px;
}

.inspection-contact-agent {
    border : 1px solid rgba(0,0,0,0.4);
    background-color: var(--primary-color);
    color: #f4f4f4;
    cursor: pointer
}

.inspection-dates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 200px));
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.inspection-date-time {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    border: 1px solid rgba(92, 184, 92, 1);
    background-color: white;
    color: black;
    cursor : pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.inspection-date-time:hover .inspection-date-green, 
.inspection-date-time:hover .inspection-date-icon, .inspection-date-time:hover{
    background-color: var(--secondary-color);
    color: white !important;
    border: 1px solid transparent;
}

.inspection-date {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 1rem;
    
}
.inspection-date-green {
    color: #5cb85c;
    background-color: white;
    transition: background-color 0.3s ease;
}
.inspection-date-icon {
    color: #5cb85c;
    background-color: white;
    transition: background-color 0.3s ease;
}

.inspection-calendar {

}

/* Agent Info */

/* Details Description AgentBox */

.details-description-agentbox {
    position: absolute;
    top: -10rem;
    right: 10rem;
    width: 20rem;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.agent-sticky {
    position: sticky;
    top: 0;
    right: 8rem;
    width: 20rem;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.details-agentbox-pricename {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

.details-agentbox-line {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 1rem 0;
}

.details-agentbox-imgalign {
    display: flex;
    justify-content: center;

}

.details-agentbox-image {
    width: 7rem;
    height: 7rem;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    text-align: center;

}

.details-agentbox-imagetag {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.details-agentbox-phone, .agent-contact {
    border: 1px solid transparent;
    border-radius: 2%;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 0;
    padding-top: 1rem;
    background-color: #5cb85c;
    color: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.details-agentbox-phone:hover {
    background-color: #f4f4f4;
    color: black;
}

/* Agent Contact Modal */

.agent-contact {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.details-sub-features {
    margin-left: 8rem;
    max-width: 100%;
    position: relative;
}

@media only screen and (max-width: 1210px) {
    .details-description-agentbox {
        right: 2rem; 
    }
}
@media only screen and (max-width: 1030px) {
    .details-description-agentbox {
        right: 0.1rem; 
    }
}


@media only screen and (max-width: 995px) {
    .details-divider {
        border-bottom: 1px solid rgba(0,0,0,0.2);
        width: 90%;
        margin-left: 2rem;
    }
    .details-description-agentbox {
        display: none;
    }
    .details-inspection {
        width: 99%;
    }
    .details-sub-features{
        margin-left: 3rem;
    }
    .details-buyers-guide {
        width: 95%;
    }
    .details-description{
        width: 90%;
    }
    .details-description-text {
        width: 100%;
    }
    .details-more {
        display: none;
        width: 100%;
    }
    .details-property-features {
        width: 90%;
    }
    .details-location {
        width: 90%;
    }
    .details-title-adby {
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 450px){
    .details-sub-features{
        margin-left: 0.1rem;
    }
    .details-title-adby {
        margin-left: 0.9rem;
    }
}

@media only screen and (max-width: 600px) {
    .inspection-date-time {
        
    }
    .inspection-contact {
        display: none;
    }
    .inspection-grid {
        display: flex;
        flex-flow: column wrap;
    }
}



/* Share Modal************************ */


.mt-100 {
    margin-top: 100px
}


.share-modal-title {
    font-weight: 900
}

.share-modal-content {
    border-radius: 13px
}

/* .share-modal-body {
    color: #3b3b3b
} */

.share-clone-icon {
    color: white;
    stroke: black;
    stroke-width: 1rem;
}
.img-thumbnail {
    border-radius: 33px;
    width: 61px;
    height: 61px;
    font-size: 5rem;
}

.faba:before {
    position: relative;
    top: 13px
}

.smd {
    width: 200px;
    font-size: small;
    text-align: center
}

.share-modal-footer {
    display: block
}

.share-ur {
    border: none;
    background-color: #e6e2e2;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.share-cpy {
    border: none;
    background-color: #e6e2e2;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer
}

/* button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
} */

.share-ur.focus,
.share-ur:focus {
    outline: 0;
    box-shadow: none !important
}

.share-message {
    font-size: 11px;
    color: #ee5535
}