
.ads-container {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
    grid-template-rows: 1;
    column-gap: 1.2rem;
    row-gap: 1rem;
}
.ads-single-div {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.15);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.ads-single-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.30);
}
.ads-single-image-div {
    width: 100%;
    height: 25vh;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
}
.ads-single-image {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.ads-single-other-div {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
.ads-single-other-address {
    font-size: 0.8rem;
    color: rgba(0,0,0,0.6);
}
.ads-single-other-title {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.ads-single-other-price {
    font-size: 0.8rem;
}
.ads-single-other-icons {
    display: flex;
    flex-flow: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.ads-single-other-icons-all {
}
.ads-single-other-icons-bath, .ads-single-other-icons-parking {
    margin-left: 1rem;
}
/* Favorite Icon */
.homead-icon-saveshare-star {
    font-size: 1.3rem;
    color: transparent;
    stroke: #f4f4f4;
    stroke-width: 60px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
/* 
.homead-icon-saveshare-different {
    font-size: 1.3rem;
    color: transparent;
    stroke: #f4f4f4;
    stroke-width: 60px;
    transition: color 0.3s ease;
} */

.homead-icon-saveshare-star-active {
    font-size: 1.3rem;
    color: #fffb00;
    stroke: #f4f4f4;
    stroke-width: 60px;
    transition: color 0.3s ease;
    position: absolute;
    top: 1rem;
    right: 1rem;
}