
.profile-form-email-group {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 3rem;
    margin-left: 2rem;
}

.profile-form-group {
}
.profile-form {
    margin-top: 2rem;
}
.profile-form-submit {
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}
.profile-email-phone-group {
    margin-top: 6rem;
    margin-left: 2rem;
    word-wrap: break-word;
}

/* .profile-phone-group, .profile-email-group, .profile-address-group {
    line-height: 0.5rem;
    
} */
.profile-email-group, .profile-address-group {
    margin-top: 2.5rem;
}
@media only screen and (max-width: 700px) {
    .profile-form-email-group {
        grid-template-columns: 99%;
        grid-template-rows: auto;
    }
    .profile-email-phone-group {
        margin-top: 1rem;
        margin-left: 0rem;
        line-height: 0.5rem;
    }
}