

.profile-container {
    margin-top: 8vh;
}
.profile-image-bio-container {
    position: relative;
    max-width: 100%;
    height: 70vh;
}
.profile-image-div {
    width: 100%;
    height: 100%;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-thumbnail-div {
    position: relative;
    width: 13rem;
    height: 13rem;
    z-index: 2;
    bottom: 8rem;
    left: 2rem;
    border: 5px solid #f4f4f4;
}

.profile-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name-social {
    max-width: 100vw;
    margin: 5rem auto;
    margin-bottom: 1rem;
    height: 8vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.profile-name {
    margin-left: 2rem;
}
.profile-social {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 10rem;
    justify-content: space-around;
    align-items: center;
}
.profile-facebook-icon, .profile-twitter-icon, .profile-instagram-icon {
    cursor: pointer;
}
.profile-facebook-icon:hover {
    color: #3b5999;
}
.profile-twitter-icon:hover {
    color: #55acee;
}
.profile-instagram-icon:hover {
    color: #e4405f;
}
.profile-bio {
    width: 70%;
    margin-left: 2rem;
}

.profile-divider {
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
}