
.all-states-container {
    width: 86.5vw;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.all-states-carousel-container {
    width: 87.5vw;
    margin-left: -1.2rem;
}

/* Image */
.all-states-image {
    height: 30vh;
    width: calc(75vw/5);
    object-fit: cover;
    border-radius: 3px;
}
@media only screen and (max-width: 1125px){
    .all-states-image {
        height: 30vh;
        width: calc(75vw/4);
        object-fit: cover;
        border-radius: 3px;
    }
}
/* Text */
.all-states-carousel-text-title {
    font-size: 0.9rem;
    margin-top: 1rem;
}
.all-states-carousel-text-info {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
@media only screen and (max-width: 1095px){
    .all-states-container {
        margin-top: 4rem;
    }
}
@media only screen and (max-width: 945px){
    .all-states-carousel-text-info {
        display: none;
    }
    .all-states-image {
        height: 25vh;
        width: calc(80vw/3);
        object-fit: cover;
        border-radius: 3px;
    }
}
@media only screen and (max-width: 768px){
    .all-states-container {
        margin-top: 1.8rem;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 595px){
    .all-states-image {
        height: 16vh;
        width: calc(70vw/3);
        object-fit: cover;
        border-radius: 3px;
    }
}
/* Arrow */
.all-states-chevron-icon {
    color: rgba(0,0,0,0.8);
    position: absolute;
}
.all-states-chevron-icon-right {
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}
.all-states-chevron-icon-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}