
.home-new-search-filter-parkings-div {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.home-new-search-filter-parkings-options {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-start;
    cursor: pointer;
}

.home-new-search-filter-parking-all {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0.5rem 1rem;
    width: calc(100% / 6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-new-search-filter-parking-active {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: rgba(246, 234, 248, 0.8);
}
.home-new-search-filter-parkings-select {
    width: 10rem;
}