
.new-listing-search-res-container {
    width: 100%;
    height: 3rem;
    height: 2rem;
}
.new-listing-search-res-items {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: .9rem;
}
.new-listing-search-res-buyrent {
    padding: 0.5rem 0;
    font-weight: bold;
}
@media only screen and (max-width: 900px){
    .new-listing-search-res-container {
        width: 100%;
        height: 3rem;
        height: 2rem;
        position: relative;
        top: 10%;
    }
}