
.modal-property-type-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}
.modal-property-type-single {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    font-size: 0.8rem;
    padding: 0.5rem 0;
    color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal-property-type-single:hover {
    border : 1px solid var(--primary-color);
    color: var(--primary-color);
}
.modal-property-type-active {
    border :1px solid var(--primary-color);
    color: var(--primary-color);
}