
.new-footer-bottom-div {
    position: relative;
    bottom: 0;
    height: 8vh;
    background-color: var(--primary-color);
    max-width: 100%;
    display: flex;
    padding-left: 2rem;
    align-items: center;
    color: #fff;
}