
.search-container {
    /* background-color: white; */
    position : absolute;
    width: 80vw;
    height: 43.4vh;
    border: 1px solid transparent;
    /* border-radius: 5rem 5rem 0.3rem 0.3rem; */
    border-radius: 1rem;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}
.search-div-container {
    padding: 1rem 1rem;
}

.search-text-top {
    color: white;
}

.search-title {
    color: #f4f4f4;
    text-align: center;
    font-size: 2rem;
}

.search-buyrent {
    color: black;
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    position: relative;
}

.search-buyrent-text {
    padding: 1rem 1.2rem;
}

.buy-triangle {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background-color: transparent;
    transform: rotate(45deg);
    left: 3.5rem;
    bottom: -0.5rem;
    z-index: 5;
}
.rent-triangle {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background-color: transparent;
    transform: rotate(45deg);
    right: 3.5rem;
    bottom: -0.5rem;
    z-index: 5;
}
.buy-triangle-toggle, .rent-triangle-toggle {
    background-color: transparent;
}
.active-triangle {
    background-color: white !important;
}

.search-group-text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.title-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.buy, .rent, .sell {
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #f4f4f4;
    text-align: center;
    cursor: pointer;
    background-color: #292b2c;
    border: 1px solid #ccc;
}

.active-search {
    /* background-color:#b3d294; */
    background-color:#5cb85c !important;
    transition: background-color 0.3s ease;
    cursor : pointer;
}

.search-form-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/*search box css start here*/
/* .search-sec{
    padding: 2rem;
    position: relative;
    margin-top: 8rem;
    top: -114px;
    background: rgba(26, 70, 104, 0.51);
} */
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /* height: calc(3rem + 2px) !important; */
    height: 4rem !important;
    border-radius:0;
}
.search-slt:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border-color: #5cb85c;
    outline: none !important;
}

.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    /* height: calc(3rem + 2px) !important; */
    height: 4rem !important;
    border: 1px solid #ccc;
    border-radius:0;
}
.input-search-width {
    width: 100% !important;
    color: white;
    font-size: 0.875rem;
    background-color: #292b2c;
    /* line-height: 1.5; */
    display: block;
    border-radius: 0;
    height: 3rem !important;
}

.input-search-width:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    background-color: #292b2c;
    color: white;
    border-color: #5cb85c;
}

.search-select-form {
    width: 103% !important;
}
.search-max-price, .search-max-area, .search-any-property {
    padding-left: 0 !important;
}
.search-min-area, .search-min-price, .search-max-area {
    padding-right: 0 !important;
}

@media (max-width: 992px){
    .search-select-form {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 35% 35%;
        width: 103% !important;
    }
    .search-slt {
        position: relative;
    }
}


@media (max-width: 773px){
    .search-container {
        top: 50%;
    }
}
@media (max-width: 600px){
    .search-select-form {
        display: none;
    }
}

@media (max-width: 420px) {
    .search-title {
        display: none;
    }
}

