
/* Topmost Container */
.listing-container {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.5rem !important;
    height: auto;
}

/* Listing Property and Map */

.listing-property-map {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    max-width: 99%;
    margin: 0 auto;
}

.listing-property-map-sticky {
    position: sticky;
    top: 5.5rem;
    max-width: 100%;
    background-color: #f4f4f4;
    box-shadow: 0 8px 6px -6px rgba(26, 68, 116, 0.16);
    z-index: 50;
}

/* Listing Property Inspection  */

.listing-property {
    position: relative;
    /* display: flex;
    flex-flow: row wrap; */
    width: 30rem;
    /* justify-content: space-between;
    align-items: center; */
    top: 0.8rem;
}
.listing-search-btn {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    height: 2.5rem !important;
    border: 1px solid #ccc;
    border-radius:0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0;
    color: white;
    background-color: #5cb85c;
}
.listing-search-input {
    height: 2.5rem !important;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(240, 238, 238);
    color: white !important;
    font-weight: bold;
}

.listing-property-type, .listing-inspection, .listing-reset {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin-left: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4%;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}
.listing-property-type:hover, .listing-inspection:hover, .listing-reset:hover, .listing-applyfilter-text:hover {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid transparent;
}
.listing-property-type {
    width: 8rem;
    padding: 0.5rem 0;
}
.listing-property-type {
    display: none;
}
/* Listing Map */
.listing-map {
    /* min-width: 55%;
    max-width: 100%; */
    width: 46rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 0.8rem;
}
.select-search-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.select-form-group-search {
    margin-left: 1rem;
}

.listing-map-search-filter {
    font-size: 12px;
    width: 8rem;
    background-color: rgb(240, 238, 238);
}
.listing-map-search-filter:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border-color: #5cb85c;
    outline: none !important;
    background-color: rgb(240, 238, 238);
}
@media only screen and (max-width: 1270px){
    .listing-property {
        width: 22rem;
    }
    .listing-map-search-filter {
        width: 6rem;
    }
    .listing-map {
        width: calc(46rem - 10rem);
    }
}
@media only screen and (max-width: 995px){
    .listing-property-form-search {
        display: none;
    }
    .listing-map {
        width: 100%;
        justify-content: flex-start;
    }
    .listing-map-search-filter {
        width: 8rem;
    }
}
@media only screen and (max-width: 800px){
    .listing-map-search-filter {
        width: 6rem;
    }
    .select-search-group {
        display: none;
    }
    .listing-property-type {
        display: block;
    }
}

/* Horizontal Divider  */
.listing-divider {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.listing-home-adlist {
    margin-top: 2rem;
    margin-left: 5rem;
}
.listing-home-adlist span {
    font-size: 14px;
}
.listing-search-results {
    margin-left: 5rem;
}  

/* Listing List Map Inspection Relevant View */
.listing-list-map-inspection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 3rem;
    margin-left: 5rem;
}

.listing-list-views {
    border: 1px solid transparent;
    background-color: rgb(240, 238, 238);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
}
.listing-list-view-active {
    outline-style: inset;
    outline-width: 1px;
    outline-color: #5cb85c;
    color: #5cb85c;
}

/* New Grid Design */
.listing-new-grid {
    margin-left: 5rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 2rem;
    overflow-x: hidden;
    overflow-y: hidden;
}
.listing-new-grid-toggle {
    display: none;
}
.listing-grid-wrapper {
    display: none;
}
.listing-grid-wrapper-toggle {
    display: grid;
    grid-template-columns: 55%;
    grid-template-rows: auto;
    margin-left: 5rem;
    margin-top: 3rem;
}
.listing-old-grid {
    display: none;
}
.listing-old-grid-toggle {
    display: grid;
}

.listing-new-grid-wrapper {
    display: grid;
    grid-template-columns: 35rem 30rem;
    column-gap: 2rem;
}
.listing-new-grid-map {
    display: none;
    width: 100%;
    border: 1px solid gold;
}
.listing-new-grid-image-wrapper {
    width: 35rem;
    height: 60vh;
    position: relative;
}
.listing-new-grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listing-new-grid-company-image-abs {
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 35rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.listing-new-grid-company-thumb {
    width: 4rem;
    height: 4rem;
    border: 2px solid white;
    border-radius: 100%;
    margin-left: 0.8rem;
}
.lising-new-grid-company-thumb-image {
    width :100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
.listing-new-grid-company-name {
    color: white;
    margin-left: 0.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    line-height: 10px;
}
.listing-company-image-name {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.listing-new-grid-company-main-name {
    color: white;
    margin-right: 0.5rem;
}
.listing-new-grid-other-contents {
    width: 100%;
    position: relative;
}
.listing-new-grid-other-title{
    margin-bottom: 1rem;
}
.listing-new-grid-other-price{
    margin-bottom: 2rem;
}
.listing-new-grid-other-icons {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
}
.listing-new-grid-other-icons-all {
    margin-left: 1.5rem;
}
.listing-other-inspection-individual{
    font-size: 12px;
}
.listing-new-grid-company-contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 30rem;
}
.listing-new-grid-company-contact-image-name{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.listing-new-grid-company-logo-wrapper {
    width: 3rem;
    height: 3rem;
}
.listing-new-grid-company-contact-name {
    height: 1.5rem;
}
.listing-new-grid-company-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listing-new-grid-company-contact-icon {
    width: 9rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 3rem;
    box-shadow: 0 8px 6px -6px rgba(26, 68, 116, 0.16);
}
.listing-other-inspection-icon, .listing-new-grid-icon {
    color: #5cb85c;
}
.listing-new-grid-icons-inspection-numbers {
    font-size: 12px;
}

/* Grid */

.listing-grid {
    margin-top: 2rem;
    padding-left: 1rem;
}
.listing-grid-wrapper {

}

.listing-grid-image {
    cursor: pointer;
}


.listing-gridmap {
    display: none;
}

.listing-grid-toggle {
    display: grid;
    grid-template-columns: 60% 40%;
}
.listing-search-tags-toggle {
    width: 50%;
}

.homepagead-grid-wrapper-toggle {

}


.listing-gridmap-toggle {
    display: block;
    height: 85vh;
    position: fixed;
    background-color: rgb(231, 227, 227);
    bottom: 0rem;
    right: 0;
    width :52%;
    z-index: 10;
}

/**************************Filter Modal ****************************/

.modal-cancel-filter, .modal-apply-filter {
    border : 1px solid rgba(0,0,0,0.1);
}


/* DropDowns */
/* .property-dropdown {
    position: absolute;
    top: 3.3rem;
    width: 300px;
    z-index: 10;
    display: flex;
    flex-flow: column wrap;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(231, 227, 227);
    border-radius: 2%;
    box-shadow: 0 8px 6px -6px rgba(26, 68, 116, 0.16);
}

.prop-drop {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.inp-label {
    margin-left: 3rem;
}

.form-check-input {
    transform: scale(1.3);
}

/* Toggling */
/* .property-toggle, .inspection-toggle, .reset-toggle, .listing-applyfilter-text-toggle {
    background-color: var(--primary-color) !important;
    color: #f4f4f4;
}

.body-toggle {
    background: rgba(0,0,0,0.1);
} */

/* Inspection Dropdown */

/* .inspection-dropdown {
    position: absolute;
    width: 300px;
    height: 30vh;
    top: 3.3rem;
    left: 8rem;
    z-index: 10;
    background-color: rgb(231, 227, 227);
    border: 1px solid transparent;
    border-radius: 2%;
}

.inspection-dates {
    margin-top: 1rem;
    margin-left: 1rem;
}

.inspection-add {
    margin-left: 1rem;
    margin-top: 0.5rem;
    border :1px solid red;
    width: 50%;
    text-align: center;
    padding: 5px 0;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--primary-color);
} */

/* Apply Filter after 555px */
/* .listing-applyfilter {
    display: none;
    width: 8rem;
    height: 80%;
}
.listing-applyfilter-text {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease, border 0.3s ease;
} */

/* More FIlter Dropdown */
/* .applyfilter-dropdown {
    position: fixed;
    top: 10.5rem;
    left: 0;
    width: 100%;
    height: 72.5%;
    background-color: #f4f4f4;
    z-index: 100;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.applyfilter-divider {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.applyfilter-divider-toggle {
    margin-top: 17rem;
}

.applyfilter-property, .applyfilter-inspection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1rem 1rem;
    cursor: pointer;
}

.property-dropdown-filter {
    position: absolute;
    top: 3.3rem;
    width: 300px;
    z-index: 10;
    display: flex;
    flex-flow: column wrap;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 2%;
}

.inspection-dropdown-applyfilter {
    position: absolute;
    width: 300px;
    height: 30vh;
    top: 6rem;
    left: 1rem;
    z-index: 10;
    background-color: #f4f4f4;
    border: 1px solid transparent;
    border-radius: 2%;
}

.inspection-add {
    color: white;
} */

/* applyfilter-ok-cancel */

/* .applyfilter-ok-cancel {
    position: absolute;
    top: 25rem;
    right: 0;
    height: 2.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.applyfilter-cancel, .applyfilter-apply {
    margin-right: 1rem;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4%;
    padding-top: 5px;
    width: 8rem;
    text-align: center;
    cursor: pointer;
}

.applyfilter-apply {
    background-color: var(--primary-color);
    color: white;
} */ */

/* Pagination */

.search-tags-box {
    display: flex;
    flex-flow: row wrap;
}

.listing-pagination {
    margin-top: 5rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 907px) {

    .listing-grid-toggle {
        grid-template-columns: 37% 58%;
    }

    .listing-gridmap-toggle {
        width :60%;
    }
    .listing-search-tags-toggle {
        width: 35%;
    }

}

@media only screen and (max-width: 700px) {

    .listing-grid-toggle {
        grid-template-columns: 50% 50%;
    }

    .listing-gridmap-toggle {
        width :50%;
    }

}
@media only screen and (max-width: 700px) {

    .listing-grid-toggle {
        grid-template-columns: 100% 0%;
    }
    .listing-search-tags-toggle {
        width: 95%;
    }

    .listing-gridmap-toggle {
        display: none;
    }

    /* .listing-property {
        display: none;
    } */

    .listing-applyfilter {
        display: block;
    }

}
@media only screen and (max-width: 1150px){
    .listing-new-grid-wrapper {
        display: grid;
        grid-template-columns: 25rem 20rem;
        column-gap: 2rem;
    }
    .listing-new-grid-image-wrapper {
        width: 25rem;
        height: 45vh;
    }
    .listing-new-grid-company-image-abs {
        height: 5rem;
        width: 25rem;
    }
    .listing-new-grid-other-contents {
        width: 100%;
        position: relative;
    }
    .listing-new-grid-company-contact {
        width: 25rem;
    }
    .listing-new-grid-wrapper p {
        font-size: 14px;
    }
    .listing-new-grid-wrapper h3 {
        font-size: 1em;
    }
    .listing-new-grid-wrapper h2 {
        font-size: 1.17em;
    }
    .listing-new-grid-wrapper h4 {
        font-size: 0.7em;
    }
}
@media only screen and (max-width: 915px){
    .listing-new-grid-wrapper {
        grid-template-columns: 20rem 20rem;
    }
    .listing-new-grid-image-wrapper {
        width: 20rem;
        height: 35vh;
    }
    .listing-new-grid-company-image-abs {
        height: 5rem;
        width: 20rem;
    }
    .listing-new-grid-other-contents {
        width: 100%;
        position: relative;
    }
    .listing-new-grid-company-contact {
        width: 20rem;
    }
    .listing-new-grid-wrapper p {
        font-size: 14px;
    }
    .listing-new-grid-wrapper h3 {
        font-size: 1em;
    }
    .listing-new-grid-wrapper h2 {
        font-size: 1.17em;
    }
    .listing-new-grid-wrapper h4 {
        font-size: 0.7em;
    }
    .listing-new-grid-other-price{
        margin-bottom: 0.2rem;
    }
    .listing-new-grid-company-contact-image-name {
        display :none;
    }
    .listing-new-grid-company-contact {
        bottom: 0;
        left: 10rem;;
        width: 30rem;
    }
    .listing-new-grid-company-image-abs {
        height: 3rem;
        width: 20rem;
    }
    .listing-new-grid-company-image-abs p {
        font-size: 12px;
    }
    .listing-new-grid-company-thumb {
        width: 2.5rem;
        height: 2.5rem;
    }
    .listing-new-grid-company-name {
        line-height: 8px;
        position: relative;
        top: 0.5rem;
    }
}
@media only screen and (max-width: 760px){
    .listing-new-grid, .listing-list-map-inspection, .listing-search-results,
    .listing-home-adlist {
        margin-left: 1rem;
    }
}
@media only screen and (max-width: 690px){
    .listing-new-grid-company-contact {
        display: none;
    }
    .listing-list-map-inspection {
        width: 30rem;
    }
    .listing-list-views {
        padding: 0 1.5rem;
        font-size: 12px;
    }
    .listing-new-grid-wrapper {
        grid-template-columns: 20rem 15rem;
        column-gap: 0.5rem;
    }
}
@media only screen and (max-width: 580px) {
    .listing-new-grid-wrapper {
        grid-template-columns: 15rem 12rem;
        column-gap: 0.5rem;
    }
    .listing-new-grid-image-wrapper {
        width: 15rem;
        height: 28vh;
    }
    .listing-new-grid-other-contents {
        width: 100%;
        position: relative;
    }
    .listing-new-grid-wrapper p {
        font-size: 12px;
    }
    .listing-new-grid-wrapper h3 {
        font-size: 1em;
    }
    .listing-new-grid-wrapper h2 {
        font-size: 1.17em;
    }
    .listing-new-grid-wrapper h4 {
        font-size: 0.7em;
    }
    .listing-new-grid-company-image-abs {
        height: 3rem;
        width: 15rem;
    }
    .listing-new-grid-company-thumb {
        width: 2.5rem;
        height: 2.5rem;
    }
    .listing-new-grid-company-name {
        line-height: 8px;
    }
}
@media only screen and (max-width: 515px) {
    .listing-list-map-inspection {
        width: 23rem;
    }
    .listing-list-views {
        padding: 0 0.6rem;
        font-size: 12px;
    }
}
@media only screen and (max-width: 470px) {
    .listing-new-grid-wrapper {
        grid-template-columns: 15rem 8rem;
        column-gap: 0.3rem;
    }
    .listing-new-grid-other-icons{
        display : none;
    }
    .listing-new-grid-wrapper p {
        font-size: 10px;
    }
    .listing-new-grid-wrapper h3 {
        font-size: 0.8em;
    }
    .listing-new-grid-wrapper h2 {
        font-size: 1em;
    }
    .listing-new-grid-wrapper h4 {
        font-size: 0.5em;
    }
}
