
.custom-checkbox-container {

}
.custom-checkbox-span {

}

/* Customize the label (the container) */
.custom-checkbox-container {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .custom-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .custom-checkbox-span {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.3);
  }
  
  /* On mouse-over, add a grey background color */
  .custom-checkbox-container:hover input ~ .custom-checkbox-span {
    background-color: rgba(91, 30, 102, 0.5);
  }
  
  /* When the checkbox is checked, add a blue background */
  .custom-checkbox-container input:checked ~ .custom-checkbox-span {
    background-color: var(--primary-color);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .custom-checkbox-span:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-checkbox-container input:checked ~ .custom-checkbox-span:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-checkbox-container .custom-checkbox-span:after {
    left: 4px;
    top: 0.5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }