
.new-home-search-container {
    /* background-color: white; */
    position : absolute;
    width: 70vw;
    height: 32vh;
    top: 25%;
    left: 5.45rem;
    z-index: 50;
    background-color: rgba(0,0,0,0.6);
    border-radius: 6px;
    padding: 1rem 1rem;
}
.new-home-search-container-text {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    letter-spacing: 1.3px;
}
.new-home-search-container-text-p {
    letter-spacing: 1px;
    color: #fff;
    padding: 10px 0;
}
/* Buy, Rent , Find Agent Search Tab options */
.new-home-tab-options {
    display: flex;
    flex-flow: row wrap;

}
.new-home-tab {
    border: 1px solid transparent;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    cursor: pointer;
    font-size: 0.9rem;
}
.new-home-tab-findagent, .new-home-tab-rent {
    margin-left: 2px;
}
.new-home-tab-active {
    background-color: var(--primary-color);
}
/* Small Triangles */
.new-home-search-triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -6px;
}
.new-home-search-active-triangle {
    border-left: 8px solid transparent;
    border-top: 8px solid #fff;
    transform: rotate(-45deg);
}
/* Search Box */
.new-home-search-box-btn {
    height: 4.5rem;
    display: flex;
    flex-flow: row wrap;
}
.new-home-search-box-div {
    width: 80%;
    height: 100%;
    position: relative;
}
.new-home-search-input {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom-left-radius: 6px;
    /* border: 1px solid rgba(228, 224, 224, 0.6); */
}
.new-home-search-input {
    padding-left: 1rem;
}
.new-home-search-input:focus {
    outline: none;
}
.new-home-search-input::placeholder {
    color: rgba(0,0,0,0.8);
}
/* Search Button */
.new-home-search-btn-div {
    width: 20%;
    height: 100%;
    position: relative;
    cursor: pointer;
    background-color: var(--primary-color);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.new-home-search-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    outline: none;
    border: 1px solid transparent;
    color: #fff;
    transition: background-color 0.3s ease;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.new-home-search-btn:hover {
    background-color: var(--hover-color);
}
.new-home-search-btn-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    left: 2rem;
}

/* Filter Icon */
.new-home-search-filter-div {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
}
.new-home-search-filter-div:hover {
    background-color: rgba(255,255,255,0.5);
}
.new-home-search-filter-icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 10px;
}
@media only screen and (max-width: 1200px){
    .new-home-search-btn-icon {
        left: 1rem;
    }
}
@media only screen and (max-width: 830px){
    .new-home-search-btn {
        display: none;
    }
    .new-home-search-btn-icon {
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);
    }
}
@media only screen and (max-width: 792px){
    .home-search-findagent {
        display: none;
    }
}
@media only screen and (max-width: 465px) {
    .new-home-tab-rent {
        display: none;
    }
}
@media only screen and (max-width: 667px) {
    .new-home-search-container {
        left: 3rem;
    }
}
@media only screen and (max-width: 680px){
    .new-home-search-filter-div {
        padding: 5px 6px;
        border: none;
        right: 0%;
    }
    .new-home-filter-text-span {
        display: none;
    }
}
