
.home-explore-by-area-div {
    width: 86.2vw;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.home-explore-by-area-text {
    font-size: 1.1rem;
    position: relative;
}
/* Explore by area text */
.home-explore-by-area-nav-text {
    position: absolute;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    flex-flow: row;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    top: -0.65rem;
    left: 10rem;
}
.home-explore-area-text-single {
    height: 100%;
    padding: 0 0.5rem;
    font-size: 0.98rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgba(0,0,0,0.6);
    border-bottom: 3px solid transparent;
    transition: color 0.3s ease;
}
.home-explore-area-text-all {
    
}
.home-explore-area-text-active {
    color: black;
    font-weight: bold;
    border-bottom: 3px solid var(--primary-color) !important
}
/* Custom Select Box */
.home-explore-area-custom-select-wrapper {
    display: none;
    position: relative;
    top: 0.5rem;
    font-size: 0.9rem;
}
.area-custom-selected {
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 0.7rem 1rem;
    /* border-radius: 6px; */
    position: relative;
}
.area-custom-selected:hover {
    border: 1px solid var(--primary-color);
}
.area-custom-selected-toggle {
    border: 1px solid var(--primary-color);
    background-color:  rgb(248, 234, 250);
    color: var(--primary-color);
}
.area-custom-arrow {
    position: absolute;
    right: 0;
    top: 30%;
    right: 3%;
}
.area-custom-arrow-icon, .area-custom-selected, .area-option{
    color: rgba(0,0,0,0.6);
}
.area-custom-select-options {
    position: absolute;
    width: 100%;
    display: none;
    border: 1px solid rgba(0,0,0,0.2);
    height: 15rem;
    overflow-y: scroll;
    z-index: 1000;
}
.area-custom-select-options-toggle {
    display: block;
    border-top: 1px solid transparent; 
}
.area-custom-select-options-toggle .area-custom-arrow-icon {
    transform: rotate(90deg);
}
.area-option {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease;
}
.area-option-selected {
    background-color: rgb(91, 30, 102) !important;
    color: #fff;
}
.area-option:hover {
    background-color: rgb(248, 234, 250);
}
@media only screen and (max-width: 1095px){
    .home-explore-by-area-nav-text {
        top: 1.5rem;
        left: 0rem;
        width: 38rem;
    }
}
@media only screen and (max-width: 768px){
    .home-explore-area-custom-select-wrapper {
        display: block;
    }
    .home-explore-by-area-nav-text {
        display: none;
    }
}