.home-classi {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 86.5vw;
    margin: 0 auto;
    margin-top: 3rem;

}
.absolute-line-left-home{
    position: fixed;
    z-index: 10000;
    height: 100vw;
    width: 1px;
    background-color: gold;
    left: 6.4%;
}
.absolute-line-right-home {
    position: fixed;
    z-index: 10000;
    height: 100vh;
    width: 1px;
    background-color: gold;
    right: 6.4%;
}

.home-featured .home-featured-p{
    font-size: 1.5rem;
    font-weight: lighter;
}
.home-classi .home-classi-p {
    font-size: 1.1rem;
}
.home-classi-show-all-div {
    font-size: 0.9rem;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.home-classi-show-all-div:hover {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border: 1px solid transparent;
}

@media only screen and (max-width: 400px) {
    .home-featured h3,  .home-classi h3  {
        font-size: large;
    }
    .home-featured p, .home-featured p {
        font-size: medium;
    }
}
