
.new-listing-top-title-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
@media only screen and (max-width: 900px){
    .new-listing-top-title-container {
        position: relative;
        top: 9%;
    }
}