

.home-new-search-land-size-container {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.home-new-search-land-size-div {
    display: flex;
    flex-flow: row wrap;
}
.home-new-search-land-size-text {
    margin-bottom: 1.5rem;
}
.home-new-search-land-size-span {
    margin: 0 1rem;
    position: relative;
    top: 0.5rem;
}
.home-new-search-land-size-input {
    height: 2.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}
.home-new-search-land-size-input:focus {
    outline: 1px solid var(--primary-color)
}
.home-new-search-land-size-min-input, .home-new-search-land-size-min-input {
    
}
.home-new-search-land-size-min, .home-new-search-land-size-max {
    position: relative;
}
.home-new-search-land-size-meter {
    position: absolute;
    right: 0;
    border-left: 1px solid rgba(0,0,0,0.1);
    height: 100%;
    padding: 0.5rem 0.7rem;
    background-color: rgba(224, 165, 241, 0.2)
}
.home-new-search-land-size-div {
    margin-bottom: 1.5rem;
}
@media only screen and (max-width: 475px){
    .home-new-search-land-size-div {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .home-new-search-land-size-span {
        margin-bottom: 1rem;
        width: 50%;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}