
.home-search-property-types-div {
    width: 100%;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem , 1fr));
    grid-template-rows: auto;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.home-search-property-types-single {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px 5px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

.home-search-property-types-active {
    color: var(--primary-color);
    outline: var(--primary-color);
    background-color: rgba(246, 234, 248, 0.8);
    border: 1px solid  var(--primary-color);
}
@media only screen and (max-width: 550px) {
/* .home-search-property-types-single {
    margin-left: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}
.home-search-property-types-all {
    margin-left: 0;
} */
}