
.home-new-search-features-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 60%;
}
.home-new-search-features-text {
    margin-bottom: 1.5rem;
}
.home-new-search-features-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.home-new-search-features-row-group {
    width: 50%;
    cursor: pointer;
    position: relative;
}
.home-new-search-features-row-group label {
    cursor: pointer;
}
.home-new-search-features-checkbox {
    width: 1rem;
    height: 1rem;
}

/* Custom Checkbox */
.home-new-search-features-row-group {
    padding-left: 1.5rem;
    cursor: pointer;
    position: relative;
    user-select: none;
}
.home-new-search-features-row-group input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.home-new-features-checkmark {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0,0,0,0.3);
    top: 3px;
    left: 0
}
.home-new-search-features-row-group:hover input ~ .home-new-features-checkmark {
    background-color: rgba(91, 30, 102, 0.5);
}
.home-new-search-features-row-group input:checked ~ .home-new-features-checkmark {
    background-color: var(--primary-color);
    border: 1px solid (255,255,255,1);
}
.home-new-features-checkmark:after {
    content: '';
    display: none;
    position: absolute;
}
.home-new-search-features-row-group input:checked ~ .home-new-features-checkmark:after {
    display: block;
}
.home-new-features-checkmark:after {
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    top: 1px;
    left: 4px;
    transform: rotate(45deg);
}
@media only screen and (max-width: 595px) {
    .home-new-search-features-container {
        width: 80%;
    }
}
@media only screen and (max-width: 450px) {
    .home-new-search-features-container {
        width: 100%;
    }
}