
.account-settings-main {
    max-width: 100%;
    border :1px solid transparent;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.account-settins-image-alignment-div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    
}

.account-settings-image-box {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
}
.account-settings-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.account-settings-nav {
    margin-top: 3rem;
}

.account-settings-change-password, .account-settings-edit-profile,
.account-settings-change-photos {
    margin-bottom: 2rem;
}

/* .account-settings-edit-profile, .account-settings-change-photos,
.account-settings-change-password {
    border: 2px solid transparent;
} */

.account-settings-nav-links {
    margin-left: 1rem;
    margin-bottom: 2rem;
    font-size: 0.95rem;
    color: black;
}

.active-account-settings-nav {
    
    color: var(--primary-color) !important;
    font-weight: bold;
    border-left: 2px solid var(--primary-color);
}