.container-login {
    display: grid;
    grid-template-columns: 39% 59%;
    margin-left: 4rem;
}

.classiLogo {
    margin-left: -2rem;
}

.btn-submit {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    padding-top: 5px;
}

@media only screen and (max-width: 1035px){
    .container-login {
        grid-template-columns: 95%;
        margin-left: 0;
    }
    .classiLogo {
        margin-left: 0;
    }
}