.modal-more-filter-car-space-text {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.modal-more-filter-car-space {
    display: flex;
    flex-flow: row ;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.modal-filter-car-single {
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}
.modal-filter-car-single:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.modal-filter-car-active {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* Land Area */
.modal-more-filter-land-text {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.modal-more-filter-land {
    display: flex;
    flex-flow: row ;
    justify-content: flex-start;
    align-items: center;
}
.modal-more-filter-land-min-area-text, .modal-more-filter-land-max-area-text {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: rgba(0,0,0,0.7);
}
.modal-more-filter-land-min-div {
    position: relative;
}
.modal-more-filter-land-max-div {
    margin-left: 1rem;;
    position: relative;
}
.modal-more-filter-land-input {
    height: 2.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    width: 15rem;
    font-size: 0.9rem;
}
.modal-more-filter-land-input:focus{
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 0 0.5rem;
}
.modal-more-filter-land-input::placeholder{
    font-size: 0.9rem;
}
.modal-more-filter-land-meter-abs-min, .modal-more-filter-land-meter-abs-max  {
    position: absolute;
    font-size: 0.9rem;
    top: 60%;
    right: 5%;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-left: 0.5rem;
    color: rgba(0,0,0,0.6);
}
.modal-more-filter-land-meter-abs-max {

}