.new-listing-fixed-nav-container {
    max-width: 100%;
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: fixed;
    top: 13vh;
    left: 0;
    z-index: 50;
    background-color: #fff;
}
.new-listing-fixed-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5vw;
}
/* Search Icon */
.new-listing-fixed-search-icon {
    position: relative;
    left: 1.8rem;
    color: var(--primary-color);
}
/* Input */
.new-listing-fixed-search-input {
    border: 1px solid rgba(0,0,0,0.1);
    height: 2.3rem;
    border-radius: 6px;
    padding-left: 2.5rem;
    width: 14rem;
    font-size: 0.9rem;
}
/* .new-listing-fixed-search-input:focus{
    border: 1px solid var(--primary-color);
} */
.new-listing-fixed-search-search-text {
    position: absolute;
    top: 0;
    right: -40%;
    width: 7rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--primary-color);
    height: 2.3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.new-listing-fixed-search-search-icon {
    position: absolute;
    left: 6%;
    color: #fff !important; 
}



/* .new-listing-fixed-price-div , .new-listing-fixed-bed-div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(4.5rem + 18rem + 3rem);
    font-size: 0.9rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}
.new-listing-fixed-price-div:hover, .new-listing-fixed-bed-div:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.new-listing-fixed-bed-div {
    left: calc(4.5rem + 18rem + 3rem + 7rem);
} */

/* New LIst flex filters */
.new-listing-fixed-filters {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: absolute;
    left: calc(4.5rem + 18rem + 3rem);
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
}

/* Filter Item */
.new-listing-fixed-filter-item {
    margin-left: 1rem;
    color: rgba(0,0,0,0.7);
    font-size: 0.8rem !important;
}
.new-listing-fixed-filter-item  {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.new-listing-fixed-filter-item-active {
    border: 1px solid var(--primary-color);
    background-color: rgb(250, 220, 255);
    color:var(--primary-color);
}
.new-listing-fixed-filter-item:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.new-listing-fixed-clear-all-div {
    color: #fff;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.new-listing-fixed-clear-all-div:hover {
    background-color: var(--hover-color);
    color: #fff;
}
@media only screen and (max-width: 1050px){
    .new-listing-fixed-filters  {
        left: 23rem;
    }
    .new-listing-fixed-property-type-div {
        display: none;
    }
}
@media only screen and (max-width: 900px){
    .new-listing-fixed-nav-container {
        max-width: 100%;
        width: 100vw;
        height: 20vh;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        position: fixed;
        top: 13vh;
        left: 0;
        z-index: 1000;
        background-color: #fff;
    }
    .new-listing-fixed-search {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        left: 4.5vw;
    }
    .new-listing-fixed-filters {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        position: absolute;
        left: 4vw;
        top: 70%;
        transform: translateY(-50%);
        align-items: center;
        overflow :auto;
    }
    /* Search Icon */
    .new-listing-fixed-search-icon {
        position: relative;
        left: 1.8rem;
        color: var(--primary-color);
    }
    /* Input */
    .new-listing-fixed-search-input {
        border: 1px solid rgba(0,0,0,0.1);
        height: 2.6rem;
        border-radius: 6px;
        padding-left: 2.5rem;
        width: 75vw;
        font-size: 0.9rem;
    }
    .new-listing-fixed-search-search-text {
        position: absolute;
        top: 0;
        right: -16%;
        width: 7rem;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;;
        border: 1px solid rgba(0,0,0,0.1);
        background-color: var(--primary-color);
        height: 2.5rem;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 525px){
    .new-listing-fixed-filters {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        position: absolute;
        left: 4vw;
        top: 70%;
        transform: translateY(-50%);
        align-items: center;
        overflow :auto;
    }
    .new-listing-fixed-filter-item {
        font-size: 0.8rem;
        margin-left: 0.3rem;
        border: 1px solid rgba(0,0,0,0.1);
        padding: 0.3rem 1rem;
    }
    .new-listing-fixed-search {
        left: 2.5vw;
    }
    .new-listing-fixed-filters {
        margin-top: 0.3rem;
    }
    
}