
.new-listing-search-length-container {
    width: 100%;
    font-size: 0.9rem;
}
@media only screen and (max-width: 900px){
    .new-listing-search-length-container {
        position: relative;
        top: 9%;
    }
}